.reset-container {
  max-width: 400px;
  margin: 3rem auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.reset-logo {
  width: 130px;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.reset-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.reset-subtext {
  font-size: 16px;
  color: #555;
  margin-bottom: 2rem;
  font-weight: 300;
  text-align: start;
}

.reset-form {
  text-align: left;
}

.reset-btn {
  background-color: #5b7bfc;
  border-color: #5b7bfc;
}

.reset-footer {
  margin-top: 3rem;
  text-align: center;
}

/* OTP input kutuları için */
.otp-input-group {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.otp-input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 6px;
}
